:root {
    --color-bg: #dc72ff;
    --cell-revealed-color: #bbb8ff;
    --color-lost: #502558;
    --color-flag: #D4342E;
    --color-dark: #333;

    --gap: 2rem;
    --gap-sm: 1rem;

    --content-width: 400px;
}